<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
  <meta content="" name="description">
  <meta content="" name="keywords">
        <title>{% block title %}Welcome!{% endblock %}</title>
      
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
       
        {% block stylesheets %}
           {#{{ encore_entry_link_tags('app') }}#}
            <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
            
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
        {% endblock %}

        
    </head>
    <body>
    
  
    {{ include('layouts/partials/navbar2.html.twig') }}
    {% block body %}
    {% endblock %}
    
      {% block javascripts %}
       
        {#T{{ encore_entry_script_tags('app') }}#}
      {% endblock %}
        
    </body>
</html>
