h1 {
    text-align: center;
  }
  
  fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 5px #ccc;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-lg {
    font-size: 18px;
  }
  
  .btn-lg:hover {
    font-size: 19px;
  }
  
  a.nav-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #999;
    text-decoration: none;
  }
  
  a.nav-link:hover {
    color: #555;
  }
  